header {
    background: #2d3436;
    color: white;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
}

#main_body {
    padding-top: 15px;
}

#demo_content {
    user-select: none;
}

#display_table {
    width: 70%;
    margin: 0 auto;
    table-layout: fixed;
    aspect-ratio: 1;

    border-collapse:separate;
    border-radius: 10px;
    border: 5px solid #2d3436; 
    background: #dfe6e9;
}

.tile_cell, .solution_move {
    aspect-ratio: 1;
    position: relative;
    background: #636e72;
    cursor: pointer;
}

.tile_cell {
    border-radius: 10px;
}

.solution_move {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin: 1px;
}

.tile_text, .solution_text {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

.tile_text {
    font-size: 250%;
    vertical-align: middle;
    text-align: center;
}

.solution_text {
    display: table;
    margin: 0 auto;
    margin-top: 2px;
}


#empty_tile {
    background: #dfe6e9;
    cursor: default;
}

#hidden_cancel {
    display: none;
}

.solution_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button, select, #cancel {
  align-items: center;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: Tahoma, monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 10px;
  margin-left: 1px;
  margin-right: 1px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 13px;
}

button, #cancel {
    appearance: none;
}

button:focus, #cancel:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover, #cancel:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active, #cancel:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

button:disabled, #cancel:disabled {
    background-color: #dfe6e9; 
    pointer-events: none;
}

#visualize {
    height: 15px;
    width: 15px;
    margin-top: 5px;
}

.search_info_labels {
    font-size: 18px;
}

#nodes_expanded_label {
    display: inline-block;
    margin-bottom: 10px;
}

#nodes_expanded {
    font-weight: bold;
    font-size: 30px;
}

#solution {
    font-weight: bold;
    height: 200px;
    overflow: auto;
}

#search_size_table {
    border-collapse: border;
    margin: 0 auto;
}

#search_size_table td, #search_size_table th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    size: 20px;
}

#search_size_table td.smaller_text {
    size: 15px;
}

p {
    text-indent: 30px;
}

p.to_be_continued {
    margin-bottom: 5px;
}

footer p {
    text-align: center;
    text-indent: 0px;
}
